In [180]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pickle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn import datasets
from sklearn import metrics

from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler

## Pembacaan Dataset

In [181]:
data_test = pd.read_csv("tubes2_HeartDisease_test.csv")
data_train = pd.read_csv("tubes2_HeartDisease_train.csv")

In [237]:
data_test

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13
0,60,1,2,160,267,1,1,157,0,0.5,2,?,?
1,61,1,4,148,203,0,0,161,0,0,1,1,7
2,54,1,4,130,242,0,0,91,1,1,2,?,?
3,48,1,4,120,260,0,0,115,0,2,2,?,?
4,57,0,1,130,308,0,0,98,0,1,2,?,?
5,55,1,3,?,228,0,1,?,?,?,?,?,?
6,51,1,4,140,298,0,0,122,1,42,2,3,7
7,62,1,4,?,170,0,1,120,1,3,?,?,?
8,49,0,3,160,180,0,0,156,0,1,2,?,?
9,67,0,3,115,564,0,2,160,0,16,2,0,7
10,43,1,4,115,0,0,0,145,1,2,2,?,7
11,55,1,4,145,248,0,0,96,1,2,2,?,?
12,51,1,2,130,224,0,0,150,0,0,?,?,?
13,65,1,4,110,248,0,2,158,0,6,1,2,6
14,50,1,2,170,209,0,1,116,0,0,?,?,?
15,57,1,4,165,289,1,2,124,0,1,2,3,7
16,57,1,4,128,0,1,1,148,1,1,2,?,?
17,29,1,2,120,243,0,0,160,0,0,?,?,?
18,51,1,3,?,339,0,0,?,?,?,?,?,?
19,58,1,4,100,234,0,0,156,0,1,1,1,7
20,76,0,3,140,197,0,1,116,0,11,2,0,3
21,68,1,4,138,0,0,0,130,1,3,2,?,?
22,47,1,4,112,204,0,0,143,0,1,1,0,3
23,54,1,4,130,202,1,0,112,1,2,2,?,?
24,56,1,4,115,0,?,1,82,0,-1,1,?,?
25,53,0,3,128,216,0,2,115,0,0,1,0,?
26,36,1,4,110,0,?,0,125,1,1,2,?,6
27,63,1,4,160,230,1,0,105,1,1,2,?,?
28,66,1,4,112,212,0,2,132,1,1,1,1,3
29,57,1,3,105,0,?,0,148,0,0.3,2,?,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,49,1,1,130,0,0,1,145,0,3,2,?,?
112,53,1,3,130,197,1,2,152,0,12,3,0,3
113,42,0,4,102,265,0,2,122,0,6,2,0,3
114,35,0,4,140,167,0,0,150,0,0,?,?,?
115,53,1,4,140,203,1,2,155,1,31,3,0,7
116,42,1,2,120,196,0,0,150,0,0,?,?,?
117,66,1,3,110,213,1,2,99,1,1.3,2,?,?
118,54,1,1,120,171,0,0,137,0,2,1,?,?
119,61,1,3,150,243,1,0,137,1,1,2,0,3
120,69,1,4,?,210,1,1,?,?,?,?,?,?
121,50,1,4,144,349,0,2,120,1,1,1,?,7
122,44,1,2,120,263,0,0,173,0,0,1,0,7
123,40,1,3,106,240,0,0,80,1,0,?,?,7
124,72,1,3,120,214,0,0,102,1,1,2,?,?
125,51,1,2,125,188,0,0,145,0,0,?,?,?
126,49,1,3,120,188,0,0,139,0,2,2,3,7
127,62,1,4,158,210,1,0,112,1,3,3,?,?
128,58,1,4,?,385,1,2,?,?,?,?,?,?
129,66,1,3,120,0,0,1,120,0,-0.5,1,?,?
130,49,0,2,110,?,0,0,160,0,0,?,?,?
131,51,0,4,130,305,0,0,142,1,12,2,0,7
132,62,1,4,150,0,?,1,78,0,2,2,?,7
133,63,1,4,150,0,?,1,154,0,3.7,1,?,?
134,65,1,4,170,263,1,0,112,1,2,2,?,?
135,59,1,4,164,176,1,2,90,0,1,2,2,6
136,63,1,2,?,165,0,1,?,?,?,?,?,?
137,42,1,3,160,147,0,0,146,0,0,?,?,?
138,65,1,1,?,252,0,0,?,?,?,?,?,?
139,53,1,4,130,182,0,0,148,0,0,?,?,?
140,39,1,2,120,?,0,1,146,0,2,1,?,?

In [183]:
data_test.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13
0,60,1,2,160,267,1,1,157,0,0.5,2,?,?
1,61,1,4,148,203,0,0,161,0,0,1,1,7
2,54,1,4,130,242,0,0,91,1,1,2,?,?
3,48,1,4,120,260,0,0,115,0,2,2,?,?
4,57,0,1,130,308,0,0,98,0,1,2,?,?

In [184]:
print("Banyak Data Train :", len(data_train), "\nBanyak Data Test :", len(data_test))

Banyak Data Train : 779
Banyak Data Test : 141

## Penanganan NaN

#### Menghitung Jumlah NaN per Kolom

In [211]:
def countNanCol(df, colName) :
    count = 0
    for index, row in df.iterrows():
        if (row[colName] == "?") :
            count += 1
    return count

print("------------------- Data NaN pada data train -------------------")
for column in data_train:
    banyakKosong = countNanCol(data_train, column)
    print(column, "berisi \"?\" sebanyak :", banyakKosong, "\tyaitu :", banyakKosong/len(data_train)*100, "%")
    
print()
print("------------------- Data NaN pada data test -------------------")
for column in data_test:
    banyakKosong = countNanCol(data_test, column)
    print(column, "berisi \"?\" sebanyak :", banyakKosong, "\tyaitu :", banyakKosong/len(data_test)*100, "%")

------------------- Data NaN pada data train -------------------
Column1 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column2 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column3 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column4 berisi "?" sebanyak : 47 	yaitu : 6.033376123234917 %
Column5 berisi "?" sebanyak : 24 	yaitu : 3.080872913992298 %
Column6 berisi "?" sebanyak : 78 	yaitu : 10.012836970474968 %
Column7 berisi "?" sebanyak : 1 	yaitu : 0.12836970474967907 %
Column8 berisi "?" sebanyak : 44 	yaitu : 5.648267008985879 %
Column9 berisi "?" sebanyak : 44 	yaitu : 5.648267008985879 %
Column10 berisi "?" sebanyak : 49 	yaitu : 6.290115532734275 %
Column11 berisi "?" sebanyak : 262 	yaitu : 33.632862644415916 %
Column12 berisi "?" sebanyak : 514 	yaitu : 65.98202824133504 %
Column13 berisi "?" sebanyak : 408 	yaitu : 52.374839537869065 %
Column14 berisi "?" sebanyak : 0 	yaitu : 0.0 %

------------------- Data NaN pada data test -------------------
Column1 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column2 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column3 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column4 berisi "?" sebanyak : 12 	yaitu : 8.51063829787234 %
Column5 berisi "?" sebanyak : 6 	yaitu : 4.25531914893617 %
Column6 berisi "?" sebanyak : 12 	yaitu : 8.51063829787234 %
Column7 berisi "?" sebanyak : 0 	yaitu : 0.0 %
Column8 berisi "?" sebanyak : 11 	yaitu : 7.801418439716312 %
Column9 berisi "?" sebanyak : 11 	yaitu : 7.801418439716312 %
Column10 berisi "?" sebanyak : 13 	yaitu : 9.219858156028367 %
Column11 berisi "?" sebanyak : 47 	yaitu : 33.33333333333333 %
Column12 berisi "?" sebanyak : 97 	yaitu : 68.79432624113475 %
Column13 berisi "?" sebanyak : 78 	yaitu : 55.319148936170215 %

#### Menghitung Jumlah NaN per Baris

In [186]:
def countNanRow(df, rowNum) :
    count = 0
    for column in df :
        if (df.loc[rowNum][column] == "?") :
            count += 1
    return count

print("------------------- Data NaN pada data train -------------------")
rowNan = [0 for i in range (13)]
# counting
for index, row in data_train.iterrows():
    rowNan[countNanRow(data_train, index)] += 1
for i in range (13):
    print("Kosong sebanyak", i, "ada sejumlah :", rowNan[i], "\tyakni :", rowNan[i]/len(data_train)*100, "%")
    
print()
print("------------------- Data NaN pada data test -------------------")
rowNan = [0 for i in range (13)]
# counting
for index, row in data_test.iterrows():
    rowNan[countNanRow(data_test, index)] += 1
for i in range (13):
    print("Kosong sebanyak", i, "ada sejumlah :", rowNan[i], "\tyakni :", rowNan[i]/len(data_train)*100, "%")

------------------- Data NaN pada data train -------------------
Kosong sebanyak 0 ada sejumlah : 256 	yakni : 32.86264441591784 %
Kosong sebanyak 1 ada sejumlah : 62 	yakni : 7.958921694480104 %
Kosong sebanyak 2 ada sejumlah : 172 	yakni : 22.0795892169448 %
Kosong sebanyak 3 ada sejumlah : 223 	yakni : 28.626444159178433 %
Kosong sebanyak 4 ada sejumlah : 21 	yakni : 2.6957637997432604 %
Kosong sebanyak 5 ada sejumlah : 2 	yakni : 0.25673940949935814 %
Kosong sebanyak 6 ada sejumlah : 1 	yakni : 0.12836970474967907 %
Kosong sebanyak 7 ada sejumlah : 40 	yakni : 5.134788189987163 %
Kosong sebanyak 8 ada sejumlah : 2 	yakni : 0.25673940949935814 %
Kosong sebanyak 9 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 10 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 11 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 12 ada sejumlah : 0 	yakni : 0.0 %

------------------- Data NaN pada data test -------------------
Kosong sebanyak 0 ada sejumlah : 43 	yakni : 5.5198973042362 %
Kosong sebanyak 1 ada sejumlah : 12 	yakni : 1.540436456996149 %
Kosong sebanyak 2 ada sejumlah : 36 	yakni : 4.621309370988447 %
Kosong sebanyak 3 ada sejumlah : 31 	yakni : 3.979460847240052 %
Kosong sebanyak 4 ada sejumlah : 7 	yakni : 0.8985879332477535 %
Kosong sebanyak 5 ada sejumlah : 1 	yakni : 0.12836970474967907 %
Kosong sebanyak 6 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 7 ada sejumlah : 11 	yakni : 1.4120667522464698 %
Kosong sebanyak 8 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 9 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 10 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 11 ada sejumlah : 0 	yakni : 0.0 %
Kosong sebanyak 12 ada sejumlah : 0 	yakni : 0.0 %

#### Mengabaikan data pada baris dengan jumlah kosong sebanyak Threshold

In [187]:
threshold = 5

listDel = []
for index, row in data_train.iterrows():
    if (countNanRow(data_train, index) > threshold) :
        listDel.append(index)

data_train_clean = data_train.drop(listDel)
print("Jumlah data baru :", len(data_train_clean))

Jumlah data baru : 736

#### Mengisi data kosong dengan mean pada kolom 4, 5, 8, 10, 12 dan modus untuk sisanya

Mencari nilai data yang akan dimasukkan

In [235]:
replacer = []

def dropNanOnCol(df, colName) :
    listDel = []
    for index, row in df.iterrows():
        if (row[colName] == "?") :
            listDel.append(index)
    return df.drop(listDel)

changeWithMean = ['Column4', 'Column5', 'Column8', 'Column10', 'Column12']
for column in data_train_clean:
    cleanData = dropNanOnCol(data_train_clean, column)
    if (column in changeWithMean) :
        replacer.append(np.asarray(cleanData.loc[:,column], dtype=np.float).mean())
    else :
        replacer.append(cleanData.mode()[column])
      
# special case
replacer[10] = replacer[10].delete[1,2,3,4]

AttributeError: 'Series' object has no attribute 'delete'

In [233]:
replacer[10]

0      2
1    NaN
2    NaN
3    NaN
4    NaN
Name: Column11, dtype: object

Mengisi nilai data

In [223]:
i = 0
for column in data_train_clean:
    for index, row in data_train_clean.iterrows():
        if (row[column] == "?") :
            if (type(replacer[i]) != 'str') : 
                data_train_clean.at[index, column] = replacer[i].item()
            else :
                data_train_clean.at[index, column] = replacer[i]
    i += 1

AttributeError: 'str' object has no attribute 'item'

In [159]:
data_train_clean

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,54,1,4,125,216,0,0,140,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",1
1,55,1,4,158,217,0,0,110,1,2.5,2,0.686792,"0 3 Name: Column13, dtype: object",1
2,54,0,3,135,304,1,0,170,0,0,1,0,3,0
3,48,0,3,120,195,0,0,125,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
4,50,1,4,120,0,0,1,156,1,0,1,0.686792,6,3
5,64,0,4,130,303,0,0,122,0,2,2,2,3,0
6,63,1,4,130,308,0,0,138,1,2,2,0.686792,"0 3 Name: Column13, dtype: object",2
7,58,1,2,130,251,0,0,110,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
8,42,1,2,150,268,0,0,136,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
9,54,1,3,120,258,0,2,147,0,4,2,0,7,0
10,58,1,4,115,0,"0 0 Name: Column6, dtype: object",0,138,0,0.5,1,0.686792,"0 3 Name: Column13, dtype: object",1
11,49,1,3,118,149,0,2,126,0,8,1,3,3,1
12,61,1,1,142,200,1,1,100,0,1.5,3,0.686792,"0 3 Name: Column13, dtype: object",3
13,55,0,2,132,342,0,0,166,0,12,1,0,3,0
14,60,1,4,132,218,0,1,140,1,1.5,3,0.686792,"0 3 Name: Column13, dtype: object",2
16,62,1,3,160,0,0,0,72,1,0,2,0.686792,3,3
17,57,1,4,150,276,0,2,112,1,6,2,1,6,1
18,43,1,1,120,291,0,1,155,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",1
19,67,1,4,125,254,1,0,163,0,2,2,2,7,3
20,59,1,4,110,0,"0 0 Name: Column6, dtype: object",0,94,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,6,3
21,45,0,2,112,160,0,0,138,0,0,2,0,3,0
22,51,1,3,135,160,0,0,150,0,2,2,0.686792,"0 3 Name: Column13, dtype: object",1
23,53,1,4,120,246,0,0,116,1,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",1
24,51,0,3,120,295,0,2,157,0,6,1,0,3,0
25,53,1,3,155,175,1,1,160,0,3.9374,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,6,0
26,64,0,4,180,325,0,0,154,1,0,1,0,3,0
27,52,1,4,108,233,1,0,147,0,1,1,3,7,0
28,41,1,4,104,0,0,1,111,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
29,55,1,4,140,201,0,0,130,1,3,2,0.686792,"0 3 Name: Column13, dtype: object",1
30,61,1,4,132.355,0,1,1,86,0,1.5,2,0.686792,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,64,1,1,110,211,0,2,144,1,18,2,0,3,0
745,42,1,2,120,295,0,0,162,0,0,1,0,3,0
746,34,1,2,150,214,0,1,168,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
747,39,1,4,130,307,0,0,140,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
748,38,0,4,105,0,"0 0 Name: Column6, dtype: object",0,166,0,2.8,1,0.686792,"0 3 Name: Column13, dtype: object",2
749,49,0,3,130,207,0,1,135,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
750,32,1,2,110,225,0,0,184,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
751,57,1,2,154,232,0,2,164,0,0,1,1,3,1
752,74,1,4,155,310,0,0,112,1,1.5,3,0.686792,"0 3 Name: Column13, dtype: object",2
753,59,1,3,150,212,1,0,157,0,16,1,0,3,0
754,53,1,4,130,0,0,2,135,1,1,2,0.686792,7,2
755,35,1,2,122,192,0,0,174,0,0,1,0,3,0
756,34,0,2,130,161,0,0,190,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
758,54,0,3,110,214,0,0,158,0,16,2,0,3,0
759,63,1,4,136,0,0,0,84,1,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,7,2
760,37,1,3,118,240,0,2,165,0,1,2,0.686792,3,0
761,56,1,4,150,230,0,1,124,1,15,2,0.686792,"0 3 Name: Column13, dtype: object",1
762,53,1,2,120,0,0,0,95,0,0,2,0.686792,3,3
763,50,1,3,129,196,0,0,163,0,0,1,0,3,0
764,54,0,2,120,230,1,0,140,0,0,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",0
765,56,1,4,120,0,0,1,100,1,-1,3,0.686792,7,2
766,58,1,4,125,300,0,2,171,0,0,1,2,7,1
767,43,1,4,132,247,1,2,143,1,1,2,0.686792,7,1
768,59,1,4,120,0,0,0,115,0,0,2,0.686792,3,2
769,72,1,4,160,201.434,1,2,130,0,1.5,0 2 1 NaN 2 NaN 3 NaN 4 NaN N...,0.686792,"0 3 Name: Column13, dtype: object",2
770,52,1,4,160,246,0,1,82,1,4,2,0.686792,"0 3 Name: Column13, dtype: object",1
772,50,1,4,115,0,0,0,120,1,0.5,2,0.686792,6,3
773,68,1,3,180,274,1,2,150,1,16,2,0,7,3
774,62,0,4,140,268,0,2,160,0,36,3,2,3,3
776,51,1,1,125,213,0,2,125,1,14,1,1,3,0

### 1. Analisis Data

### kNN

### Naive Bayes

### Decision Tree

### Neural Network MLP

## 2. Skenario Eksperimen

### kNN

### Naive Bayes

### Decision Tree

### Neural Network MLP

## 3. Eksperimen

### kNN

### Naive Bayes

### Decision Tree

### Neural Network MLP